In [1]:
from PySide6.QtSql import QSqlDatabase
from mysql import connector

conn = connector.connect(    
    host='localhost',
    database='attendance_system',
    user='root',
    password='root')

cursor = conn.cursor()

In [ ]:
conn.is_connected()

True

In [6]:
query = '''
        SHOW TABLES'''

cursor.execute(query)
result = cursor.fetchall()
result

[('class1',), ('class2',)]

In [5]:
create_table_query = ''' 
    CREATE TABLE class2 (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    gender ENUM('male', 'female'),
    age INT(3));'''

cursor.execute(create_table_query)

In [15]:
query = """
        SELECT COUNT(*)
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE table_name = 'class1';
"""
table = 'class1'
cursor.execute('SELECT COUNT(*) FROM %s' %  table)
results = cursor.fetchone()

In [14]:
print(results)

(4,)

In [ ]:
table_name = 'class1'
cursor.execute("""
    SELECT COLUMN_NAME
    FROM INFORMATION_SCHEMA.COLUMNS
    WHERE TABLE_NAME = '%s'
""" % table_name)

# 获取列名

In [19]:
table_name = 'class1'
sql =f"INSERT INTO {table_name} (name, gender, age) VALUES(%s, %s, %s)"
cursor.execute(sql, [ 'e', 'male', 18])

In [18]:
cursor.execute('SELECT * FROM class1')
results = cursor.fetchall()
print(results)

[(1, 'a', 'female', 18), (2, 'b', 'male', 18), (3, 'c', 'male', 18), (4, 'd', 'male', 18)]

In [20]:
# conn.commit()
insert_id  = cursor.lastrowid 
insert_id

5